{% extends "status_app/theme.html" %}

{% block content %}

     
             <h1>Wouldn't say I was <i>missing</i> work.</h1>

       <a href="/team/new">New Team</a>
        {% if teams %}
            <ul>
                {% for team in teams %}
                <li>[<a href="/team/{{ team.id }}">view</a>]
                    [<a href="/team/edit/{{ team.id }}">edit</a>]
                    [<a href="/team/delete/{{ team.id }}">delete</a>] {{ team.name }}</li>
                {% endfor %}
            </ul>

        {% else %}
            <strong>There are no teams present.</strong>
        {% endif %}

   {% endblock %}